*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
data/test1/input.csv.dat
output/ph/
.spyderproject
/.directory
/.DS_Store
output/arguments_mace_competence.csv
output/arguments_mace_predicted_labels.csv
output/arguments_mace_probabilities.csv
output/arguments_pyibcc_predicted_labels.csv
output/arguments_pyibcc_probabilities.csv
output/combined_categories.csv
output/popdensity_mace_competence.csv
output/popdensity_mace_predicted_labels.csv
output/popdensity_mace_probabilities.csv
output/popdensity.png
output/popdensity_pyibcc_predicted_labels.csv
output/popdensity_pyibcc_probabilities.csv
*.bak
.idea
.idea/misc.xml
.idea/modules.xml
.idea/pyIBCC.iml
.idea/vcs.xml
.idea/workspace.xml
